doctype html
html
  head
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(rel='stylesheet', href='/css/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-2.2.2.min.js',integrity='sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=', crossorigin='anonymous')
    script(src='/js/script.js')
  body
    #container
      h1 rapidpoll
      #question-div
        h2#question this is a question
        
      #top-div.answers
        ul
          li
            div.answer-sec
              div.vote-div
                a.upvote
                  i.material-icons arrow_upward
              div.answer-div
                p test 1234 lelogram
      #new-div.answers
        ul
          li
            div.answer-sec
              div.vote-div
                a.upvote
                  i.material-icons arrow_upward
              div.answer-div
                p test 1234 lelogram
          each val in [1, 2, 3, 4, 5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
            li
              div.answer-sec
                div.vote-div
                  a.upvote
                    i.material-icons arrow_upward
                div.answer-div
                  p test 1234 lelogram
      
      #new-answer-div
        input#answer-input(type='text', placeholder='answer a question')
        .submit-div
          a#answer-submit
            i.material-icons send
        
      #new-question-div
        input#question-input(type='text', placeholder='ask a question')
        .submit-div
          a#question-submit
            i.material-icons send
        
      