doctype html
html
  head
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(rel='stylesheet', href='/css/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-2.2.2.min.js',integrity='sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=', crossorigin='anonymous')
    script(src='/js/script.js')
  body
    #container
      h1 rapidpoll
      #question-div
        h2#question
        
      #answer-list.answers
        ul
      
      #new-answer-div
        input#answer-input(type='text', placeholder='post an answer')
        .submit-div
          a#answer-submit
            i.material-icons send
        
      #new-question-div
        input#question-input(type='text', placeholder='ask a question')
        .submit-div
          a#question-submit
            i.material-icons send
        
      