@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);

* {
  margin: 0;
  padding: 0;
  font-family: 'roboto';
}

#container {
  width:800px;
  margin:0 auto;
  margin-top: 50px;
}

#question-div {
  width:756px;
  padding:20px;
  text-align: center;
  border: solid 2px #dddddd;
  border-radius: 5px;
  margin-bottom: 15px;
  color:#333333;
}

#top-div{
  display: inline-block;
  width:390px;
  
  margin-right: 12px;
  border: solid 2px #dddddd;
  border-radius: 5px;
  height:500px;
} 

#new-div {
  display: inline-block;
  width:390px;
  border: solid 2px #dddddd;
  border-radius: 5px;
  height:500px;
  vertical-align: top;
  margin-bottom:10px;
}

.vote-div {
  width:50px;
  display:inline-block;
  text-align: center;
  color:#545454;
  top:50%;
}

.upvote {
  color:#dbdbdb;
}

#submit-question, #submit-answer {
  color:#545454;
}

.answer-sec {
  display: flex;
  align-items: center;
}

.answer-div {
  padding:10px 15px 10px 0px;
  width:310px;
  display:inline-block;
  color:#545454;
}

li {
  list-style: none;
}

h1 {
  font-weight: 700;
  font-size: 2.5em;
  margin-bottom: 10px;
  color:#333333;
}

h2 {
  font-weight: 400;
}

#new-answer-div, #new-question-div {
  margin-bottom: 10px;
  width:796px;
  border: solid 2px #dddddd;
  border-radius: 5px;
/*
  display: flex;
  align-items: center;
*/
}

input {
  width:745px;
  border:none;
  outline: none;
  padding:8px 0px 8px 12px;
  color:#333333;
  display:inline-block;
}

.submit-div {
  float:right;
  display:inline-block;
  color:#545454;
  width:35px;
  text-align: center;
  right:0;
  margin-top:5px;
}

i {
  vertical-align: middle; 
}