@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);

* {
  margin: 0;
  padding: 0;
  font-family: 'roboto';
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  padding: 0px 15px 0px 15px;
}

#container {
  width:800px;
  margin:0 auto;
  margin-top: 50px;
}

#question-div {
  width:800px;
  padding:20px;
  text-align: center;
  border: solid 2px #dddddd;
  border-radius: 5px;
  margin-bottom: 15px;
  color:#333333;
}

#timer {
  position:absolute;
  height:5px;
  width:0px;
  background-color: #545454;
  border:solid 1px #545454;
  border-bottom-left-radius: 3px;
  margin:15px 0px 0px -20px;
}

#online {
  margin:0px 0px 5px 8px;
  font-size: 0.8em;
}

#top-div {
  margin-right: 12px;
} 

#answer-list {
  display: inline-block;
  width:500px;
  border: solid 2px #dddddd;
  border-radius: 5px;
  height:500px;
  margin-bottom:10px;
  overflow:auto;
  margin-right:10px;
}

.vote-div {
  width:50px;
  display:inline-block;
  text-align: center;
  color:#545454;
  top:50%;
}

.upvote {
  color:#dbdbdb;
}

.upvote-clicked {
  color:#545454;
}

#question-submit, #answer-submit {
  color:#545454;
}

.answer-sec {
  display: flex;
  align-items: center;
}

.score {
  position:relative;
  text-align: center;
  font-size: 0.75em;
  margin-top:-3px;
}

.answer-div {
  padding:10px 15px 10px 0px;
  width:310px;
  display:inline-block;
  color:#545454;
}

li {
  list-style: none;
}

h1 {
  font-weight: 700;
  font-size: 2.5em;
  color:#333333;
  display:inline-block;
}

h2 {
  font-weight: 400;
}

#input-container {
  vertical-align: top;
  display:inline-block;
  width:290px;
  float:right;
}

.input-div {
  margin-bottom: 10px;
  
  border: solid 2px #dddddd;
  border-radius: 5px;
  
/*
  display: flex;
  align-items: center;
*/
}

input {
  width:250px;
  border:none;
  outline: none;
  padding:8px 0px 8px 12px;
  color:#333333;
  display:inline-block;
}

.submit-div {
  float:right;
  display:inline-block;
  color:#545454;
  width:35px;
  text-align: center;
  right:0;
  margin-top:5px;
}

i {
  vertical-align: middle; 
}

a {
  cursor: pointer;
}

@media screen and (max-width:830px) {
  #container {
    width:100%;
    margin-top:20px;
  }
  #question-div {
    width:100%;
  }
  
  #answer-list {
    margin:0px auto 10px auto;
    display:block;
    width:100%;
    height:400px;
  }
  
  #input-container {
    margin:0px auto 0px auto;
    display:block;
    width:100%;
  }
  
  input {
    width: calc(100% - 40px);
  }
  
  h1 {
    font-size:2em;
  }
  
}